<!-- Inicio Footer   -->
<footer class="axil-footer-area footer-style-2">
    <!-- Inicio Footer Top   -->
    <div class="footer-top separator-top">
        <div class="container">
            <div class="row">
                <!-- Inicio  Widget  -->
                <div class="col-lg-3 col-sm-6">
                    <div class="axil-footer-widget">
                        <h5 class="widget-title">Sobre nostros</h5>
                        <!-- <div class="logo mb--30">
                        <a href="index.html">
                            <img class="light-logo" src="assets/images/logo/logo.png" alt="Logo Images">
                        </a>
                    </div> -->
                        <div class="inner">
                            <p>*******, <br>
                            **********, <br>
                            **************.
                            </p>
                            <ul class="support-list-item">
                                <li><a href=""><i class="fal fa-envelope-open"></i> example@domain.com</a></li>
                                <li><a href=""><i class="fal fa-phone-alt"></i> ***********</a></li>
                                <!-- <li><i class="fal fa-map-marker-alt"></i> 685 Market Street,  <br> Las Vegas, LA 95820, <br> United States.</li> -->
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Fin  Widget  -->
                <!-- Inicio Widget  -->
                <div class="col-lg-3 col-sm-6">
                    <div class="axil-footer-widget">
                        <h5 class="widget-title">Cuenta</h5>
                        <div class="inner">
                            <ul>
                                <li><a href="my-account.html">Mi cuenta</a></li>
                                <li><a href="sign-up.html">Ingresar / Registrar</a></li>
                                <li><a href="cart.html">Carro</a></li>
                                <li><a href="wishlist.html">Lista de Deseos</a></li>
                                <li><a href="shop.html">Tienda</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Fin Widget  -->
                <!-- Inicio Widget  -->
                <div class="col-lg-3 col-sm-6">
                    <div class="axil-footer-widget">
                        <h5 class="widget-title">Otros</h5>
                        <div class="inner">
                            <ul>
                                <li><a href="privacy-policy.html">Políticas de Privacidad</a></li>
                                <li><a href="terms-of-service.html">Terminos de Uso</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="contact.html">Contacto</a></li>
                                <li><a href="contact.html">Contacto</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Fin Widget  -->
                <!-- Start Single Widget  -->
                <div class="col-lg-3 col-sm-6">
                    <div class="axil-footer-widget">
                        <h5 class="widget-title">Métodos de Pago</h5>
                        <div class="inner">
                            <span>Aceptamos todo tipo de billeteras virtuales</span>
                            <div class="download-btn-group">
                                <div class="qr-code">
                                    <img src="assets/images/others/qr.png" alt="Axilthemes">
                                </div>
                                <div class="app-link">
                                    <a href="#">
                                        <img src="" alt="Yape">
                                    </a>
                                    <a href="#">
                                        <img src="" alt="Plin">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Single Widget  -->
            </div>
        </div>
    </div>
    <!-- Din Footer Top Area  -->
    <!-- Inicio  Area  -->
    <div class="copyright-area copyright-default separator-top">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-xl-4">
                    <div class="social-share">
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                        <a href="#"><i class="fab fa-discord"></i></a>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-12">
                    <div class="copyright-left d-flex flex-wrap justify-content-center">
                        <ul class="quick-link">
                            <li>© 2024. All rights reserved by <a target="_blank" href="">TeamDeveloperUTP</a>.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-12">
                    <div class="copyright-right d-flex flex-wrap justify-content-xl-end justify-content-center align-items-center">
                        <span class="card-text">Tambien aceptamos</span>
                        <ul class="payment-icons-bottom quick-link">
                            <li><img src="assets/images/icons/cart/cart-1.png" alt="paypal cart"></li>
                            <li><img src="assets/images/icons/cart/cart-2.png" alt="paypal cart"></li>
                            <li><img src="assets/images/icons/cart/cart-5.png" alt="paypal cart"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End  Area  -->
</footer>
<!-- Fin Footer Area  -->